body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.third{
    display: flex;
}
.screen{
    padding:20px;
    border: dotted;
}
.button{
    padding: 10px;
}