html, body {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
button{
  padding:35px;
  font-size: 25px;
  margin: 5px;
  border-radius: 15px;
  border: 2px black solid;
}
.calContainer{
    display:flex;
    flex-direction: column;
    font-size: larger;
    margin:auto;
    text-align: center;
    background-color: aqua;
    border-radius: 25px;
    padding: 10px;
    border: 2px black solid;
    flex-grow: 0;
    
}
.display{
  margin:25px;
  padding:10px;
  background-color: bisque;
  border: 2px black solid;
  border-radius: 25px;
  flex-grow: 0;
}

.op {
  background-color: chocolate;
}
.op:hover{
  background-color: darkmagenta;
}
.num{
  background-color: dimgray;
}
.num:hover{
  background-color: aquamarine;
}

.reset{
  padding:25px;
  background-color: chocolate;
}
.reset:hover{
  background-color: chartreuse;
}
#ce{
  display: flex;
  justify-content: right;
}
.display1{
  display: flex;
  flex-shrink: 80%;
  justify-content: right;
  padding:5px;
}
.display2{
  padding:20px;
}
.operate{
  background-color: chocolate;
}
.operate:hover{
  background-color: darkmagenta;
}